BASE_URL=http://candig.docker.internal
CANDIG_URL=http://candig.docker.internal:5080/
CANDIG_USERNAME=user2@test.ca
CANDIG_PASSWORD=your-password-here
CLIENT_SECRET=your-secret-here
QUERY_SERVICE_TOKEN=your-token-here # only needed for katsu test